/* Coolors Exported Palette - coolors.co/e0f2e9-ceb5a7-a17c6b-5b7b7a-3c887e */

/* HSL */
$color1: hsla(150%, 41%, 91%, 1);
$color2: hsla(22%, 28%, 73%, 1);
$color3: hsla(19%, 22%, 53%, 1);
$color4: hsla(178%, 15%, 42%, 1);
$color5: hsla(172%, 39%, 38%, 1);

/* RGB */
$color1: rgba(224, 242, 233, 1);
$color2: rgba(206, 181, 167, 1);
$color3: rgba(161, 124, 107, 1);
$color4: rgba(91, 123, 122, 1);
$color5: rgba(60, 136, 126, 1);
