.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

header {
  padding:10px;
}

footer{
  height: 20px;
  text-align: center;
  font-size: 15px;
  color: white;
  padding: 20px;
}

body {
  margin: 20px;
  text-align: center;
  background-image: url("bgWhiteboard.jpg");
  background-size: 100% 100%;
  background-color: #07294D;
  font-family: 'Arial', sans-serif;
}

p{
  font-family: 'Arial', sans-serif;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

/*field with text*/
.txtInfo{
 width: 1000px;
 height: auto;
 background-color: #07294D;
 opacity: 0.7;
 border: 2px solid #FFC600;
 border-radius: 8px;
 box-shadow: 0 4px 4px #666;
 justify-content: center;
 padding: 12px;
 margin: 10px;
}

h1 {
  font-family: 'Futura', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  
  color: #07294D;;
  text-transform: uppercase;
  margin: 0em .1em 0.3em 0em;
}

h2 {
  font-family: 'Futura', sans-serif;
  color: #fff;
  font-size: 1.6em;
  text-transform: uppercase;
  margin: 1em 1em 1em .25em;
  text-align:center;
}

h3 {
  font-family: 'Arial', sans-serif;
  color: #fff;
  font-size: 1.1em;
}

.button {
  margin: 1.5em 1em 1em 0.25em;
  padding: 5px;
  border: 1px #07294D;
  border-width: 1.5px;
  border-radius: 4px;
  background-color: #FFC600;
  opacity: 1;
  box-shadow: 0 3px 2px #666;
  font-family: 'Futura', sans-serif;
  font-size: 1em;
  color: #07294D;
  text-decoration: none;
}

.button:hover {
  color: #006298;
  transition: 0.3s;
  cursor: pointer;
}

.button:active {
  background-color: #FFC600;
  box-shadow: 0 2px 1px #666;
  transform: translateY(2px);
}

.link {
  color: #FFC600;
}

.link:hover {
  text-decoration: underline;
  transition: 0.3s;
  cursor: pointer;
}
